.bigContainer {
  border-bottom: 2px solid black;
  width: 80%;
  height: 5em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: x-large;
  font-family: serif;
}
.buttonDescription {
  background-color: black;
  padding: 1.5em;
  border-radius: 40%;
  margin-left: 1em;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.descriptionDiv {
  z-index: 10;
  background-color: azure;
  width: 80%;
  height: 50%;
  position: fixed;
  top: 50px;
  left: 50px;
  margin-top: auto;
  margin-left: auto;
  visibility: hidden;
  font-family: sans-serif;
  text-align: left;
  padding: 2em;
  line-height: 1.3rem;
  white-space: pre-wrap;
  overflow-y: scroll;
}
.closeButton {
  background-color: blueviolet;
  padding: 2em;
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 50px;
}
